@use "../../var" as v;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 20px;
  border-radius: v.$main-rounded;
  background: #fff;
  box-shadow: v.$box-shadow;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title {
  font-size: 22px;
  font-weight: 300;
}



.button {
  padding: 10px 40px;
  font-size: 14px;
  color: v.$color_text_white;
  background-color: v.$primary_color;
  border-radius: v.$input-rounded;
  border: 1px solid transparent;
  cursor: pointer;
}
